!!! 5
%html(lang="en")
  %head
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    %title= (title = data.page.title) ? "#{title} / MVCSS" : 'MVCSS'
    %meta(name="description" content="MVCSS - A Sass-based CSS architecture for creating predictable and maintainable application style.")

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300'
    = stylesheet_link_tag 'application'

    = partial 'shared/google_analytics' if build?

  %body{ class: page_classes }

    .action
      %a.action-btn(href='https://github.com/mvcss/mvcss') View Code &rarr;
      %p.action-link= link_to 'Changelog (v4.0.0)', '/changelog/'

    %a.sidebar-toggle(href="#") Navigation
    %aside.sidebar
      = partial 'shared/header'
      = partial 'shared/nav'

      %footer.about
        %b.about-title Crafted with care by
        = link_to 'Nick Walsh', 'http://twitter.com/nickawalsh', class: 'about-link'
        &amp;
        = link_to 'Drew Barontini', 'http://twitter.com/drewbarontini', class: 'about-link'

    %main.cell
      = find_and_preserve do
        = yield

    = partial 'shared/gauges' if build?

    = javascript_include_tag 'http://code.jquery.com/jquery-1.9.1.min.js'
    :coffeescript
      $ ->
        $('.sidebar-toggle').on 'click', (e) ->
          e.preventDefault()
          $(@).toggleClass('is-active')
          $('body').toggleClass('is-toggled')
