%nav.nav
  %ul.nav-list
    %li.nav-item{ is_page_active('/') }= link_to 'About', '/', class: 'nav-link'
    %li.nav-item{ is_page_active('/styleguide/') }
      = link_to 'Styleguide', '/styleguide/', class: 'nav-link'
      %ul.nav-list--sub{ is_section_active('/styleguide/')  }
        %li.nav-item{ is_page_active('/styleguide/basics/') }= link_to 'Basics', '/styleguide/basics/', class: 'nav-link'
        %li.nav-item{ is_page_active('/styleguide/numbers-game/') }= link_to 'The Numbers Game', '/styleguide/numbers-game/', class: 'nav-link'
        %li.nav-item{ is_page_active('/styleguide/comments/') }= link_to 'Comments', '/styleguide/comments/', class: 'nav-link'
        %li.nav-item{ is_page_active('/styleguide/naming/') }= link_to 'Naming Conventions', '/styleguide/naming/', class: 'nav-link'
    %li.nav-item{ is_page_active('/manifest/') }= link_to 'Manifest', '/manifest/', class: 'nav-link'
    %li.nav-item{ is_page_active('/foundation/') }
      = link_to 'Foundation', '/foundation/', class: 'nav-link'
      %ul.nav-list--sub{ is_section_active('/foundation/')  }
        %li.nav-item{ is_page_active('/foundation/reset/') }= link_to 'Reset', '/foundation/reset/', class: 'nav-link'
        %li.nav-item{ is_page_active('/foundation/settings/') }= link_to 'Settings', '/foundation/settings/', class: 'nav-link'
        %li.nav-item{ is_page_active('/foundation/helpers/') }= link_to 'Helpers', '/foundation/helpers/', class: 'nav-link'
        %li.nav-item{ is_page_active('/foundation/utilities/') }= link_to 'Utilities', '/foundation/utilities/', class: 'nav-link'
        %li.nav-item{ is_page_active('/foundation/base/') }= link_to 'Base', '/foundation/base/', class: 'nav-link'
    %li.nav-item{ is_page_active('/components/') }= link_to 'Components', '/components/', class: 'nav-link'
    %li.nav-item{ is_page_active('/structures/') }= link_to 'Structures', '/structures/', class: 'nav-link'
    %li.nav-item{ is_page_active('/vendor/') }= link_to 'Vendor', '/vendor/', class: 'nav-link'
    %li.nav-item{ is_page_active('/usage/') }= link_to 'Usage', '/usage/', class: 'nav-link'
    %li.nav-item{ is_page_active('/inspiration/') }= link_to 'Inspiration', '/inspiration/', class: 'nav-link'
