%nav.l-nav
  %ul
    %li= link_to 'About', '/', is_page_active('/')
    %li
      = link_to 'Core', '/core/', is_page_active('/core/')
      %ul{ is_section_active('/core/')  }
        %li= link_to 'Reset', '/core/reset/', is_page_active('/core/reset/')
        %li= link_to 'Settings', '/core/settings/', is_page_active('/core/settings/')
        %li= link_to 'Helpers', '/core/helpers/', is_page_active('/core/helpers/')
        %li= link_to 'Base', '/core/base/', is_page_active('/core/base/')
        %li= link_to 'Content', '/core/content/', is_page_active('/core/content/')
        %li= link_to 'Layout', '/core/layout/', is_page_active('/core/layout/')
        %li= link_to 'Extras', '/core/extras/', is_page_active('/core/extras/')
    %li= link_to 'Modules', '/modules/', is_page_active('/modules/')
    %li
      = link_to 'Styleguide', '/styleguide/', is_page_active('/styleguide/')
      %ul{ is_section_active('/styleguide/')  }
        %li= link_to 'Basics', '/styleguide/basics/', is_page_active('/styleguide/basics/')
        %li= link_to 'Sass-specific', '/styleguide/sass-specific/', is_page_active('/styleguide/sass-specific/')
        %li= link_to 'Naming Conventions', '/styleguide/naming/', is_page_active('/styleguide/naming/')
    %li= link_to 'Library', '/library/', is_page_active('/library/')
    %li= link_to 'Contribute', '/contribute/', is_page_active('/contribute/')
    %li= link_to 'Creators', '/creators/', is_page_active('/creators/')
