%nav.l-nav
  %ul
    %li= link_to 'About', '/', is_page_active('/')
    %li= link_to 'Application', '/application/', is_page_active('/application/')
    %li
      = link_to 'Foundation', '/foundation/', is_page_active('/foundation/')
      %ul{ is_section_active('/foundation/')  }
        %li= link_to 'Reset', '/foundation/reset/', is_page_active('/foundation/reset/')
        %li= link_to 'Settings', '/foundation/settings/', is_page_active('/foundation/settings/')
        %li= link_to 'Helpers', '/foundation/helpers/', is_page_active('/foundation/helpers/')
        %li= link_to 'Utilities', '/foundation/utilities/', is_page_active('/foundation/utilities/')
        %li= link_to 'Base', '/foundation/base/', is_page_active('/foundation/base/')
    %li
      = link_to 'Components', '/components/', is_page_active('/components/')
      %ul{ is_section_active('/components/')  }
        %li= link_to 'Bucket', '/components/bucket/', is_page_active('/components/bucket/')
        %li= link_to 'Card', '/components/card/', is_page_active('/components/card/')
        %li= link_to 'Cell', '/components/cell/', is_page_active('/components/cell/')
        %li= link_to 'Grid', '/components/grid/', is_page_active('/components/grid/')
        %li= link_to 'Row', '/components/row/', is_page_active('/components/row/')
    %li= link_to 'Structures', '/structures/', is_page_active('/structures/')
    %li
      = link_to 'Styleguide', '/styleguide/', is_page_active('/styleguide/')
      %ul{ is_section_active('/styleguide/')  }
        %li= link_to 'Basics', '/styleguide/basics/', is_page_active('/styleguide/basics/')
        %li= link_to 'Sass-specific', '/styleguide/sass-specific/', is_page_active('/styleguide/sass-specific/')
        %li= link_to 'Naming Conventions', '/styleguide/naming/', is_page_active('/styleguide/naming/')
    %li= link_to 'Library', '/library/', is_page_active('/library/')
